<div class="page-header">
  <h1>About</h1>
</div>

<p>If you are like us, passionate about bicycles, you know how painful
  it can be to realize that your beloved bike has been stolen. You
  start looking for it in every possible bike rack, in every single
  slot, double-checking those that look almost the same like yours,
  only to recognize a few moments later that somebody was low enough
  to take it away from you. The experience is so devastating that
  Italian director Vittorio de Sica even made a movie about it,
  <a href="http://en.wikipedia.org/wiki/Bicycle_Thieves"><em>Bicycle
  Thieves</em></a>, still considered one of the greatest of all
  time.</p>

<p>Unfortunately, in spite of being a very unpleasant experience,
  there isn't much people can do to recover their bicycles. Bikes are
  relatively inexpensive, and as such do not get much attention from
  the police: nobody would stop investigating a murder case to look
  for a bike. To make matters even worse, stolen bikes can be sold or
  traded very easily, which makes tracking them extremely
  difficult. Enter WheresMoBike.</p>

<p>WheresMoBike keeps track of bike advertisements in services such as
  <a href="http://craigslist.com">craigslist</a> and looks for your
  bike there.</p>

<!-- TODO Make a diagram -->

<ul>

  <li>You give us relevant information to look for your bike, such as
  model, color, brand, and possibly a picture.</li>

  <li>WheresMoBike compares your description against bike
  advertisements online, selecting those that match the best. If some
  advertisement looks suspicious to you, you can contact the seller
  for further investigation.</li>

  <li> If your guess is proven correct, you can then point it out to
  the competent authorities so that legal measures can be taken.</li>

</ul>
