<div class="page-header">
  <h1>WheresMoBike</h1>

  <p>WheresMoBike is a service to help people looking for their stolen
    bikes. <a href="/about">Learn more »</a></p>
</div>

<div id="search">

  <h2>Tell us about your bike</h2>


  <%= form_tag '/search',
               :id => 'search-form',
               :multipart => true,
               :remote => true,
               :method => :post do %>

  <div class="field">
    <label for="description">
      Description
      <a href="#" class="icon-question-sign"> </a>
    </label>
    <div class="field-description">
      E.g. color, model, brand, etc.
    </div>
    <input type="text" class="input-xxlarge" />
  </div>

  <div class="field">
    <!-- Try to make the file upload dialog less horrendous... -->
    <label for="picture">
      Picture
      <a class="icon-question-sign"> </a>
    </label>
    <div class="field-description">
      Add a picture of your bike to make the search more accurate.
    </div>
    <input type="file" name="picture" style="display: none;" />
    <div class="input-append">
      <div class="uneditable-input input-large">
        <span id="picture-path"></span>
      </div>
      <span id="picture-select" class="btn">Select file</span>
    </div>
  </div>

  <div class="field">
    <label for="date">
      Date
      <a class="icon-question-sign"> </a>
    </label>
    <div class="field-description">
      Date of theft
    </div>
    <input name="date" type="text"
           value="<%= calendar_date Date.today %>" />
  </div>

  <div><%= submit_tag 'Find my bike!', :class => 'btn' %></div>

  <% end %>

  <div id="loading-search" style="display: none;">
    Please, wait while we look for similar bikes...
    <div class="image"><%= image_tag 'loading-search.gif' %></div>
  </div>

</div>

<div id="search-results" style="display: none;">
  <h2>Search Results</h2>
  <ul></ul>
</div>
