<div id="search">

  <div class="page-header">
    <h1>Tell us about your bike</h1>
  </div>

  <%= form_tag '/search',
               :id => 'search-form',
               :multipart => true,
               :remote => true,
               :method => :post do %>

  <div class="fields">
    <div class="field">
      <label for="description">
        Description
        <a href="#" class="icon-question-sign"> </a>
      </label>
      <div class="field-description">
        E.g. color, model, brand, etc.
      </div>
      <input name="description" type="text" class="input-xxlarge" />
    </div>

    <div class="row">
      <div class="field span4">
        <!-- Try to make the file upload dialog less horrendous... -->
        <label for="picture">
          Picture
          <a class="icon-question-sign"> </a>
        </label>
        <div class="field-description">
          Add a picture of your bike to make the search more accurate.
        </div>
        <input type="file" name="picture" style="display: none;" />
        <div class="input-append">
          <div class="uneditable-input input-large">
            <span id="picture-path"></span>
          </div>
          <span id="picture-select" class="btn">Select file</span>
        </div>
      </div>

      <div class="field span4">
        <label for="date">
          Date of Theft
          <a class="icon-question-sign"> </a>
        </label>
        <div class="field-description">
          Day on which your bike was stolen (approx.)
        </div>
        <input name="date" type="text"
               value="<%= calendar_date Date.today %>" />
      </div>
    </div>
  </div>

  <div><%= submit_tag 'Find my bike!', :class => 'btn' %></div>

  <% end %>

</div>

<div id="loading-search" style="display: none;">
  Please, wait while we look for similar bikes...
  <div class="image">
    <script src="/assets/three.min.js"></script>
    <script src="/assets/ColladaLoader.js"></script>
    <script src="/assets/Detector.js"></script>
    <script src="/assets/stats.min.js"></script>
    <script src="/assets/collada_demo.js"></script>
  </div>
</div>

<div id="search-results" style="display: none;">
  <div class="page-header">
    <h1>Search Results</h1>
  </div>
  <div class="summary"></div>
  <div class="no-results">
    Sorry, no results were found. Please try a <a href="/">new
    search</a>, or try again later.
  </div>
  <ul></ul>
</div>
