<h1>WheresMoBike</h1>

<p>ASDF</p>

<div id="search">

  <h2>Tell us about your bike</h2>


  <%= form_tag '/search',
               :id => 'search-form',
               :multipart => true,
               :remote => true,
               :method => :post do %>

  <div>
    <!-- Try to make the file upload dialog less horrendous... -->
    <%= label_tag :file %>
    <input type="file" name="picture" style="display: none;" />
    <div class="input-append">
      <div class="uneditable-input span3">
        <span id="picture-path"></span>
      </div>
      <span id="picture-select" class="btn">Select file</span>
    </div>
  </div>

  <div><%= submit_tag 'Find my bike!', :class => 'btn' %></div>

  <% end %>

  <div id="loading-search" style="display: none;">
    Please, wait while we look for similar bikes...
    <div class="image"><%= image_tag 'loading-search.gif' %></div>
  </div>

</div>

<div id="search-results" style="display: none;">
  <h2>Search Results</h2>
  <ul></ul>
</div>
