<h1>WheresMoBike</h1>

<p>ASDF</p>

<h2>Choose a file</h2>

<form action="/search" enctype="multipart/form-data"
      method="post">
  <input type="file" name="picture" />
  <input type="submit" class="btn" value="Find my bike!" />
</form>
