<h1>WheresMoBike</h1>

<p>ASDF</p>

<div id="search">

  <h2>Tell us about your bike</h2>


  <%= form_tag '/search',
               :id => 'search-form',
               :multipart => true,
               :remote => true,
               :method => :post do %>

  <div>
    <!-- Try to make the file upload dialog less horrendous... -->
    <%= label_tag :file %>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="input-append">
        <div class="uneditable-input span3">
          <i class="icon-file fileupload-exists"></i>
          <span class="fileupload-preview"></span>
        </div>
        <span class="btn btn-file">
          <span class="fileupload-new">Select file</span>
          <span class="fileupload-exists">Change</span>
          <input type="file" />
        </span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
      </div>
    </div>
  </div>

  <div><%= submit_tag 'Find my bike!', :class => 'btn' %></div>

  <% end %>

  <div id="loading-search" style="display: none;">
    Please, wait while we look for similar bikes...
    <div class="image"><%= image_tag 'loading-search.gif' %></div>
  </div>

</div>

<div id="search-results" style="display: none;">
  <h2>Search Results</h2>
  <ul></ul>
</div>
