header .lead {
    padding-left: 120px;
    background-color: rgba(0,0,0,0.5);
}

#search .input-large {
    margin-bottom: 10px;
}

#search .input-append {
    margin-bottom: 0;
}

#loading-search {
    margin-top: 110px;
    text-align: center;
}

#loading-search .image {
    margin-top: 1.5em;
}

#search-results ul {
    margin: 0;
}

#search-results li {
    display: block;
    margin-bottom: 0 0 20px 0;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #eee;
}

#search-results li .title {
    font-size: 16pt;
    margin-bottom: 11px;
}

#search-results li .title a {
    color: #5f5f5f;
}

#search-results > li:last-child {
    border-bottom: none;
}

#search .field-description {
    display: none;
}

#search .fields {
    margin: 40px 0 30px;
}

.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031;
    background-image:url('http://www.seas.upenn.edu/~nvas/one.png');
/*
# background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
# background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
# background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
# background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
# background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
# background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
*/
}

.subhead {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.jumbotron h1 {
    font-size: 53px;
}

#search-results a.no-image {
    color: #8d8d8d;
    font-size: 14pt;
    text-align: center;
    display: block;
    line-height: 25pt;
    border: 1px solid #999;
    padding: 25px;
    background-color: #eee;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background: -webkit-linear-gradient(45deg, #eee 0%, #dcdcdc 100%);
    background: -o-linear-gradient(45deg, #eee 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(45deg, #eee 0%, #dcdcdc 100%);
    background: linear-gradient(45deg, #eee 0%, #dcdcdc 100%);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .125);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .125);
}

#search-results a.no-image:hover {
    text-decoration: none;
}

#search-results .summary {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
}

#search-results .summary h1 {
    font-size: 18px;
}

#search-results .summary .image img {
    width: 180px;
    margin-right: 10px;
}

ul#storyboard {
    font-size: 10pt;
    margin-bottom: 30px;
    border: 1px solid #999;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius:    4px 4px 4px 4px;
    border-radius:         4px 4px 4px 4px;
    background-color: #efefef;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
}

ul#storyboard .image {
    height: 250px;
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
}

ul#storyboard li {
    display: block;
    border-width: 0;
    border-left-width: 1px;
    border-style: solid;
    border-color: #999;
    width: 282px;
    padding: 18px;
    float: left;
    height: 360px;
    background: -webkit-linear-gradient(45deg, #eee 0%, #dedede 100%);
    background: -o-linear-gradient(45deg, #eee 0%, #dedede 100%);
    background: -ms-linear-gradient(45deg, #eee 0%, #dedede 100%);
    background: linear-gradient(45deg, #eee 0%, #dedede 100%);
}

ul#storyboard li:first-child {
    border-left-width: 0;
    width: 283px;
}
