#loading-search {
    text-align: center;
}

#loading-search .image {
    margin-top: 1.5em;
}

/* HACK, the order is wrong in the Bootstrap css */
#search input[type=file] {
    position: absolute;
}
